extends layout

block content
  h1= title
  p Welcome to #{title}
  
  -if(user)
    a(href='/log-out') Log out 
    a(href='/post') Create post
    a(href='/member') Become a member
  -else 
    a(href='/register') Sign up 
    a(href='/log-in') log in
  
  for post in posts 
    div.onePost
      h1=post.header 
      h2=post.text  
      -if(user && user.member)
        p=post.author.username
        p=post.date_publication
  //- тут показувати всі пости , і в залежності 
  //- від прав показувати хто їх написав