extends layout

block content
  h1= title
  p Welcome to #{title}
  
  -if(user )
    a(href='/log-out') Log out 
    a(href='/post') Create post

    -if(!user.member)
      a(href='/member') Become a member
    -else if(!user.admin)
      a(href='/admin') Become a admin

  -else 
    a(href='/register') Sign up 
    a(href='/log-in') log in
  
  for post in posts 
    div.onePost
      h1=post.header 
      h2=post.text  

      -if(user && user.member)
        p=post.author.username
        p=post.date_publication

        -if(user && user.admin)

          form(method="POST", action=`http://localhost:3000/post/${post._id}/delete` )
            button.btn(type='submit') Delete